In [1]:
try:
  if cl_help:
    pass
except NameError:
  !git clone https://github.com/andras-baligacs-aida/colab_helpers.git > /dev/null 2>&1
  cl_help = True

In [2]:
from colab_helpers.gdrive.gdrive import google_link_share
import pandas as pd

In [3]:
link = 'https://drive.google.com/file/d/1VfVc50zIj4ccU3tom5YiIPIC4B3EE_Di/view?usp=sharing'

df_gps = pd.read_csv(google_link_share(link))

In [4]:
df_gps.head()

    latitude  longitude  client_id
0   8.672606  49.849342          1
1  11.602641  48.116106          0
2   7.854290  48.003895          0
3   8.635582  49.867666          1
4   7.483858  51.529208          2